.App {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #212529;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.header {
  color: #fff;
}
.header-logo {
  width: 150px;
}

.header-text {
  font-size: 1.5em;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .header {
    font-size: 14px;  /* adjust as needed */
    margin-bottom: 20px;
  }
}


.container {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: center;
}

.hidden-input {
  display: none;
}

.custom-file-button {
  background-color: #6366f1;
  color: white;
  padding: 12px 24px;
  cursor: pointer;
  border: 1px solid #212529;
  border-radius: 4px;
  font-size: 16px;
}



.upload-button {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #6366f1;
  color: #fff;
  border: 1px solid #212529;
  border-radius: 4px;
  font-size: 16px;
}


.button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #6366f1;
  color: white;
  border: 1px solid #212529;
  border-radius: 4px;
}

.table-header {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

.disbaled {
  pointer-events:"none";
  opacity:0.5;
}

.selected {
  background-color: #6366f1 !important;
  color: #212529;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  left: auto;   /* Reset left positioning */
  right: 125%;  /* Position the tooltip to the left of the text */
  z-index: 1;
  margin-bottom:100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.info-icon {
  margin-left: 3px;
  cursor: pointer;
  color: #6366f1;
}


.button-edit {
  padding:4px;
  font-size: 10px;
  cursor: pointer;
  background-color: #50C878;
  color: #212529;
  border-radius: 4px;
  border: 1px solid #212529;
}

.button-optimize {
  padding: 10px ;
  font-size: 16px;
  cursor: pointer;
  background-color: #50C878;
  color: #212529;
  border-radius: 4px;
  border: 1px solid #212529;
}

.button-log {
  padding: 10px ;
  font-size: 16px;
  cursor: pointer;
  background-color: #D3D3D3;
  color: #212529;
  border-radius: 4px;
  border: 1px solid #212529;
}

/* Your existing styles */
.table-header, th, td {
  text-align: center;
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
  .table-header, th, td {
    font-size: 9px;
  }

  /* To make table horizontally scrollable */
  .table-container {
    overflow-x: auto;
  }
}


.table-container {
  margin: 10px;
  overflow-x: auto;
  border: 2px solid #212529;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead tr {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

/* Existing styles */
.lineup-display {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.lineup-box {
  margin: 5px;
  border: 2px solid black;
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
  .lineup-display {
    margin: 10px;
  }
  
  .lineup-box {
    margin: 2px;
    font-size: 10px;
  }
}


.lineup-display ul {
  list-style-type: none;
  padding: 0;
}

.lineup-display li {
  margin-bottom: 10px;
}


.text-loading {
	clip-path: inset(0 1.1ch 0 0);
	animation: text-load-animation 1s steps(4) infinite;
}
@keyframes text-load-animation {
	to {
		clip-path: inset(0 -.5ch 0 0)
}
}